<html lang="en">
<head>
    <title>{{GameName}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width" initial-scale="1">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <h1>{{GameName}}</h1>
        <nav class="site-nav">TODO: top nav partial</nav>
    </header>
    <main>
        <article>
            <header class="character-details">
                <figure>
                    <img src="{{CharacterImageUrl}}" alt="{{CharacterName}}">
                    <figcaption>{{CharacterName}}</figcaption>
                    {{CharacterDescription}}
                </figure>
                TODO: maybe a table of contents?
            </header>
            <section class="character-title">
                <table>
                    <thead>
                        <tr>
                            {{#ScriptVersions}}
                            <th>{{ScriptVersion}}</th>
                            {{/ScriptVersions}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {{#ScriptVersions}}
                            <td>{{CharacterTitle}}</td>
                            {{/ScriptVersions}}
                        </tr>
                    </tbody>
                </table>
                {{#CharacterTitleCitation}}<cite>{{.}}</cite>{{/CharacterTitleCitation}}
                {{#CharacterTitleCommentaryContent}}
                <p>{{.}}</p>
                {{/CharacterTitleCommentaryContent}}
            </section>
            {{#Quotes}}
            <section class="quote">
                <h4>{{QuoteTitle}}</h4>
                <table>
                    <thead>
                        <tr>
                            {{#QuoteVersions}}
                            <th>{{QuoteVersion}}</th>
                            {{/QuoteVersions}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {{#QuoteVersions}}
                            <td>
                                <figure>
                                    <img src="{{ImageUrl}}" alt="{{QuoteText}}">
                                    <figcaption>
                                        <blockquote>{{QuoteText}}</blockquote>
                                        {{#QuoteCitation}}<cite>{{.}}</cite>{{/QuoteCitation}}
                                    </figcaption>
                                </figure>
                            </td>
                            {{/QuoteVersions}}
                        </tr>
                    </tbody>
                </table>
                {{#QuoteCommentaryContent}}
                    <p>{{.}}</p>
                {{/QuoteCommentaryContent}}
            </section>
            {{/Quotes}}
        </article>
        <aside>
            <nav class="game-nav">
            TODO:
                <ul>
                <li>Side</li>
                <li>nav</li>
                <li>partial</li>
                <li>goes here</li>
                </ul>
            </nav>
        </aside>
    </main>
</body>
</html>
